{% block essentials %}
  {# generate list of series by genre #}
  {% set genresData = '' %}
  {% set genres = {} %}
  {% for ind, serie in essentials %}
    {% for genre in serie.genres %}
      {# generate a list of genres existed #}
      {% set genres = genres | merge({ (genre): genre|capitalize  }) %}
      {# to avoid token al beginning #}
      {% if genresData is not empty %}
        {% set genresData = genresData ~ '|' %}
      {% endif %}
      {# each token is the genre with the index serie in essentials array #}
      {% set genresData = genresData ~ genre ~ '~' ~ ind %}
    {% endfor %}
  {% endfor %}
  {# generate array with series group by genre #}
  {% set seriesByGenres = genresData|split('|')|sort %}
  {% set genres = genres|sort %}

<div
  x-data="select({
          data: {{ {'todos': 'Todos'} | merge(genres) | json_encode }} ,
          name: 'genres',
          value: 'todos',
          emptyOptionsMessage: 'No hay buscador, no es necesario',
          placeholder: 'Selecciona un género'
        })"
>
  <div class="mx-auto max-w-xs min-w-max my-2">
    {{ block('essentialGenreSelect') }}
  </div>

  <div class="flex flex-row flex-wrap gap-2 justify-center place-items-stretch
              md:gap-6"
       :class="{ 'hidden': value!='todos' }"
       x-show="value == 'todos'"
       x-transition.delay.50ms.duration.1000ms
  >
    {% for serie in essentials|slice(0, maxEssentials) %}
      {{ block('essentialSerie') }}
    {% endfor %}
  </div>

  {% set currentGenre = '' %}
  {% for row in seriesByGenres %}
    {% set genre = row|split('~')|first %}
    {% if genre != currentGenre %}
      {% if not loop.first %}
        </div>
      {% endif %}
      {% set currentGenre = genre %}
      <div class="flex flex-row flex-wrap gap-2 justify-center place-items-stretch  md:gap-6"
          :class="{ 'hidden': value!='{{ genre }}' }"
          x-show="value == '{{ genre }}'"
          x-transition.delay.50ms.duration.1000ms
      >
    {% endif %}

    {% set serie = essentials[row|split('~')|last] %}
    {{ block('essentialSerie') }}

    {% if loop.last %}
      </div>
    {% endif %}
  {% endfor %}
  </div>

{% endblock %}

{% block essentialSerie %}
  <div class="flex-none flex flex-col min-w-min group relative">
    <div class="flex-none h-80 w-60 overflow-hidden rounded-3xl bg-gray-300 group-hover:opacity-90
                   md:h-64 md:w-48">
      <img class="w-full h-full object-center object-cover transition duration-500 group-hover:scale-125"
           src="{{ site.image.serie.vertical | replace({':serie': serie.slug}) }}"
           alt="{{ serie.title }}"
      >
    </div>

    <div class="flex-auto flex flex-col p-1">

      <div class="flex-auto flex flex-col justify-start">
        <h3 class="min-w-full max-w-min text-2xl font-bold text-teal-800
                      md:text-lg">{{ serie.title }}</h3>

        <div class="flex flex-wrap my-1">
          <div class="flex-auto whitespace-nowrap text-base text-gray-500">
            {{ episodesBySerie[serie.slug] | length }} episodios
          </div>
          <div class="flex-none flex items-center ml-2 font-medium text-base text-teal-800">
            <svg class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd"/>
            </svg>
            <span>999</span>
          </div>
        </div>

      </div>

      <div>
        {% set serie_publish = date(serie.seasons|first.publish) %}
        {% if serie_publish <= date() and serie_publish > date()|date_modify(site.novelty.serie) %}
          <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
        {% endif %}
        <a href="{{ site.path.serie | replace({':serie': serie.slug}) }}"
           title="{{ serie.title }}"><span class="absolute inset-0" aria-hidden="true"></span></a>
      </div>

    </div>
  </div>
{% endblock %}

{% block essentialGenreSelect %}
  <div
    x-init="init()"
    @click.away="closeListbox()"
    @keydown.escape="closeListbox()"
    class="relative"
  >
    <span class="inline-block w-full rounded-md shadow-sm">
      <button
        x-ref="button"
        @click="toggleListboxVisibility()"
        :aria-expanded="open"
        aria-haspopup="listbox"
        class="relative z-0 w-full py-2 pl-3 pr-10 text-left transition duration-150 ease-in-out bg-white border border-stone-300 rounded-md cursor-default focus:outline-none focus:shadow-outline-blue focus:border-teal-300 sm:text-sm sm:leading-5"
      >
        <!--  x-show="! open" -->
        <span
          x-text="value in options ? options[value] : placeholder"
          :class="{ 'text-stone-500': ! (value in options) }"
          class="block truncate"
        ></span>
        <!--input
          x-ref="search"
          x-show="open"
          x-model="search"
          @keydown.enter.stop.prevent="selectOption()"
          @keydown.arrow-up.prevent="focusPreviousOption()"
          @keydown.arrow-down.prevent="focusNextOption()"
          type="search"
          class="w-full h-full form-control focus:outline-none"
        /-->
          <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="none"
               stroke="currentColor">
            <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </span>
      </button>
    </span>
    <div
      x-show="open"
      x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      x-cloak
      class="absolute z-10 w-full mt-1 bg-white rounded-md shadow-lg"
    >
      <ul
        x-ref="listbox"
        @keydown.enter.stop.prevent="selectOption()"
        @keydown.arrow-up.prevent="focusPreviousOption()"
        @keydown.arrow-down.prevent="focusNextOption()"
        role="listbox"
        :aria-activedescendant="focusedOptionIndex ? name + 'Option' + focusedOptionIndex : null"
        tabindex="-1"
        class="py-1 overflow-auto text-base leading-6 rounded-md shadow-xs max-h-60 focus:outline-none sm:text-sm sm:leading-5"
      >
        <template x-for="(key, index) in Object.keys(options)" :key="index">
          <li
            :id="name + 'Option' + focusedOptionIndex"
            @click="selectOption()"
            @mouseenter="focusedOptionIndex = index"
            @mouseleave="focusedOptionIndex = null"
            role="option"
            :aria-selected="focusedOptionIndex === index"
            :class="{
              'text-stone-50 bg-teal-800': index === focusedOptionIndex,
              'text-stone-900': index !== focusedOptionIndex
              }"
            class="relative py-2 pl-3 text-stone-900 cursor-default select-none pr-9"
          >
              <span x-text="Object.values(options)[index]"
                    :class="{
                  'font-semibold': index === focusedOptionIndex,
                  'font-normal': index !== focusedOptionIndex
                  }"
                    class="block font-normal truncate"
              ></span>
            <span
              x-show="key === value"
              :class="{
                'text-stone-50': index === focusedOptionIndex,
                'text-teal-700': index !== focusedOptionIndex
                }"
              class="absolute inset-y-0 right-0 flex items-center pr-4 text-teal-700"
            >
                <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"/>
                </svg>
              </span>
          </li>
        </template>

        <div
          x-show="! Object.keys(options).length"
          x-text="emptyOptionsMessage"
          class="px-3 py-2 text-stone-900 cursor-default select-none"></div>
      </ul>
    </div>
  </div>
{% endblock %}
