{% block popular %}
  <div
    class="grid grid-cols-1 gap-1 place-items-stretch mx-1
          sm:grid-cols-2 sm:grid-rows-3
          md:gap-5 md:mx-0
          lg:grid-cols-3 lg:grid-rows-2">
    {% for serie in popular %}
      {% if loop.first %}
        {{ block('popularMain') }}
      {% else %}
        {{ block('popularOther') }}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block popularMain %}
  <!-- MAIN CONTENT -->
  <div class="row-span-2 flex flex-col justify-center relative group">
    <div class="aspect-w-1 aspect-h-1 overflow-hidden bg-stone-200 rounded-t-3xl">
      <img class="w-full h-full object-center object-cover transition duration-500 group-hover:scale-125"
           src="{{ site.image.serie.vertical | replace({':serie': serie.slug}) }}"
           alt="{{ serie.title }}"
      >
    </div>
    <div class="flex-auto p-4 text-teal-100 bg-stone-800">
      <h3 class="text-2xl sm:text-xl font-bold">{{ serie.title }}</h3>
      <div class="flex flex-wrap justify-between">
        <div class="whitespace-nowrap text-md text-stone-200">{{ episodesBySerie[serie.slug] | length }} episodios</div>
        <div class="flex items-center font-medium text-lg">
          <svg class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
          </svg>
          <span>999</span>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-x-3 px-4 pb-4 font-medium text-md text-teal-100 bg-stone-800 rounded-b-3xl">
      {% for genre in serie.genres %}
        <span class="px-3 rounded-md border-2 border-teal-100 capitalize">{{ genre }}</span>
      {% endfor %}
    </div>
    <div>
      {% set serie_publish = date(serie.seasons|first.publish) %}
      {% if serie_publish <= date() and serie_publish > date()|date_modify(site.novelty.serie) %}
        <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
      {% endif %}
      <a href="{{ site.path.serie | replace({':serie': serie.slug}) }}" title="{{ serie.title }}"><span
          class="absolute inset-0" aria-hidden="true"></span></a>
    </div>
  </div>
{% endblock %}

{% block popularOther %}
  <div class="flex relative group">
    <div class="w-4/12 sm:w-5/12 overflow-hidden rounded-l-3xl bg-stone-200">
      <img class="w-full h-full object-cover object-center transition duration-500 group-hover:scale-125"
           src="{{ site.image.serie.vertical | replace({':serie': serie.slug}) }}"
           alt="{{ serie.title }}"
      >
    </div>
    <div class="flex flex-col w-8/12 sm:w-7/12 p-4 rounded-r-3xl bg-stone-800 text-teal-100">

      <div class="flex-auto flex flex-col justify-center mt-4">
        <h3 class="text-xl sm:text-lg lg:text-xl font-bold">{{ serie.title }}</h3>
        <div class="whitespace-nowrap text-md text-stone-200">{{ episodesBySerie[serie.slug] | length }} episodios</div>
        <div class="flex items-center absolute right-4 top-2 font-medium text-lg">
          <svg class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
          </svg>
          <span>999</span>
        </div>
      </div>

      <div class="justify-self-end flex flex-wrap gap-x-3 my-1 font-medium text-md">
        {% for genre in serie.genres %}
          <span class="px-3 rounded-md border-2 border-teal-100 capitalize">{{ genre }}</span>
        {% endfor %}
      </div>

      <div>
        {% set serie_publish = date(serie.seasons|first.publish) %}
        {% if serie_publish <= date() and serie_publish > date()|date_modify(site.novelty.serie) %}
          <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
        {% endif %}
        <a href="{{ site.path.serie | replace({':serie': serie.slug}) }}" title="{{ serie.title }}"><span
            class="absolute inset-0" aria-hidden="true"></span></a>
      </div>

    </div>
  </div>
{% endblock %}
