{% block latests %}

  <div class="flex flex-row flex-wrap justify-center items-stretch mx-1 gap-1 md:gap-5 md:mx-0">
    {% for serie in latests %}
      <div class="flex-auto md:basis-5/12 flex gap-4 relative group">
        <div class="flex-none self-center overflow-hidden rounded-3xl bg-stone-200
                    group-hover:opacity-90
                     min-h-full w-52 h-40">
          <img class="w-full h-full object-center object-cover transition duration-500 group-hover:scale-125"
               src="{{ site.image.serie.horizontal | replace({':serie': serie.slug}) }}"
               alt="{{ serie.title }}"
          >
        </div>

        <div class="grow w-2/3 min-w-min flex flex-col py-1 gap-y-2">
          <h3 class="text-2xl md:text-xl text-teal-800 font-bold">{{ serie.title }}</h3>

          <div class="flex-auto flex-wrap items-start flex gap-x-5">
            <div class="whitespace-nowrap text-sm text-stone-500">
              {{ episodesBySerie[serie.slug] | length }} episodios
            </div>
            <div class="flex items-center gap-x-1 text-teal-800 text-sm font-medium">
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
              </svg>
              <span>999</span>
            </div>
          </div>

          <div class="flex flex-wrap gap-x-2 mt-2 text-sm text-stone-800 font-medium">
            {% for genre in serie.genres %}
              <span class="px-3 rounded-md border-2 border-stone-800 capitalize">{{ genre }}</span>
            {% endfor %}
          </div>

          <div>
            {% set serie_publish = date(serie.seasons|first.publish) %}
            {% if serie_publish <= date() and serie_publish > date()|date_modify(site.novelty.serie) %}
              <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
            {% endif %}
            <a href="{{ site.path.serie | replace({':serie': serie.slug}) }}" title="{{ serie.title }}"><span
                class="absolute inset-0" aria-hidden="true"></span></a>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
