{% block carrousel %}
  {% set numSlides = carrousel | length %}
  {% set slide = 0 %}
  <div class="relative" x-data="{ activeSlide: 1, maxSlides: {{ numSlides }} }">
    {% for serie in carrousel %}
      {% set slide = slide + 1 %}
      <div class="relative absolute inset-0 w-full max-h-max overflow-hidden"
           x-data="{ slide: {{ slide }}, bgLoaded: false, bgMobileLoaded: false }"
           :class="{ 'hidden': activeSlide !== slide }"
           x-show="activeSlide === slide"
           x-transition.delay.30ms.duration.400ms
      >
        <img class="hidden sm:block object-center object-fill w-full h-96 -z-10"
             src="{{ site.image.serie.carrousel.loader }}"
             alt="Escenario {{ serie.title }}"
             :class="{ 'sm:hidden': activeSlide !== slide }"
             x-show="activeSlide === slide && !bgLoaded"
             x-transition:enter="transition delay-100 ease-out duration-500"
             x-transition:enter-start="translate-x-14"
        >
        <img class="hidden sm:block object-center object-fill w-full max-h-full scale-x-110 -left-5 -z-10"
             src="{{ site.image.serie.carrousel.bg | replace({':serie': serie.slug }) }}"
             alt="Escenario {{ serie.title }}"
             :class="{ 'sm:hidden': activeSlide !== slide }"
             x-show="activeSlide === slide && bgLoaded"
             @load.self="bgLoaded = true"
             @error.self="this.src='{{ site.image.serie.carrousel.bg | replace({':serie': serie.slug }) }}'"
             x-transition:enter="transition delay-100 ease-out duration-500"
             x-transition:enter-start="translate-x-14"
        >

        <div class="hidden sm:flex absolute inset-0">
          <div class="flex-none w-2/5 flex flex-col justify-center items-center">
            <img class="w-4/5 mx-5 object-contain"
                 src="{{ site.image.serie.carrousel.logo | replace({':serie': serie.slug }) }}"
                 alt="Logo {{ serie.title }}"
                 x-show="activeSlide === slide"
            >
            <div
              class="flex-shrink min-h-max flex flex-col max-w-md justify-center items-center px-3 py-1 my-1 bg-gray-700/60 rounded-2xl">
              <span class="text-white text-center text-base font-bold">{{ serie.genres | join(' - ') | title }}</span>
              <span class="text-white text-center text-xl font-bold">{{ serie.intro }}</span>
            </div>
          </div>
          <div class="flex-auto w-3/5 ml-3 flex justify-end items-center">
            <img class="object-contain max-h-full"
                 src="{{ site.image.serie.carrousel.image | replace({':serie': serie.slug }) }}"
                 alt="Imagen {{ serie.title }}"
                 :class="{ 'hidden': activeSlide !== slide }"
                 x-show="activeSlide === slide && bgLoaded"
                 x-transition:enter="transition delay-100 ease-out duration-700"
                 x-transition:enter-start="translate-x-20"
            >
          </div>
        </div>
        <img class="block sm:hidden object-center object-fill w-full h-96"
             src="{{ site.image.serie.carrousel.loader_mobile }}"
             alt="Escenario {{ serie.title }}"
             :class="{ 'hidden': activeSlide !== slide }"
             x-show="activeSlide === slide && !bgMobileLoaded"
             x-transition.duration.100ms
        >

        <img class="block sm:hidden object-center object-fill w-full max-h-full"
             src="{{ site.image.serie.carrousel.mobile | replace({':serie': serie.slug }) }}"
             alt="Escenario {{ serie.title }}"
             :class="{ 'hidden': activeSlide !== slide }"
             x-show="activeSlide === slide && bgMobileLoaded"
             @load.self="bgMobileLoaded = true"
             x-transition.delay.100ms.duration.500ms
        >

        <a href="{{ site.path.serie | replace({':serie': serie.slug}) }}" title="{{ serie.title }}"><span
            class="absolute inset-0" aria-hidden="true"></span></a>
      </div>
    {% endfor %}

    <!-- Prev/Next Arrows -->
    <button
      class="absolute top-1/3 left-0 z-50 left-0 w-12 h-12 ml-3 text-teal-500 font-bold bg-teal-100 rounded-full hover:text-orange-500 hover:shadow-lg"
      @click="activeSlide = activeSlide === 1 ? maxSlides : activeSlide - 1">
      &#8592;
    </button>
    <button
      class="absolute top-1/3 right-0 w-12 h-12 mr-3 text-teal-500 font-bold bg-teal-100 rounded-full hover:text-orange-500 hover:shadow-lg"
      @click="activeSlide = activeSlide === maxSlides ? 1 : activeSlide + 1">
      &#8594;
    </button>

    <!-- Buttons -->
    <div class="absolute left-1/2 bottom-1 w-max flex items-center justify-center space-x-4">
      <template x-for="slide in {{ numSlides }}">
        <button
          class="flex-1 w-5 h-5 sm:w-3 sm:h-3 m-2 ring-2 rounded-full transition-colors duration-200 ease-out hover:bg-teal-600 hover:shadow-lg"
          :class="{
              'bg-teal-600': activeSlide === slide,
              'bg-stone-100': activeSlide !== slide
            }"
          @click="activeSlide = slide"></button>
        >

      </template>
    </div>

  </div>
{% endblock %}
