{% block logo %}
  <a href="{{ site.url }}/">
    <img class="block md:hidden h-8 w-auto"
         src="/assets/tbo/tbosweb.webp"
         alt="{{ site.title }}">
    <img class="hidden md:block h-8 w-auto"
         src="/assets/tbo/tbosweb-xtra.webp"
         alt="{{ site.title }}">
  </a>
{% endblock %}

{% block logo_b %}
  <a href="{{ site.url }}/">
    <img class="block md:hidden h-8 w-auto"
         src="/assets/tbo/tbosweb-b.webp"
         alt="{{ site.title }}">
    <img class="hidden md:block h-8 w-auto"
         src="/assets/tbo/tbosweb-b-xtra.webp"
         alt="{{ site.title }}">
  </a>
{% endblock %}

{% block options %}
  {% for path, txt in site.menu %}
    {% set tail = page.url|replace({ (path): ''}) %}
    {# To know if URL page start with path option #}
    {% set url = page.url|replace({ (tail): ''}) %}
    <a class="px-3 py-2 rounded-md font-semibold text-lg whitespace-nowrap
              {% if url == path %}bg-stone-800 text-teal-500
              {% else %}text-stone-700 hover:bg-stone-700 hover:text-stone-100{% endif %}
            "
       {% if url == path %}aria-current="page"{% endif %}
       href="{{ site.url }}{{ path }}">
      {{ txt }}
    </a>
  {% endfor %}
{% endblock %}

{% block options_design %}
  {% for url,txt in site.design.menu %}
    <a class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium text-base"
       href="{{ url }}">{{ txt }}</a>
  {% endfor %}
{% endblock %}

{% block mobile_options_button %}
  <!-- Mobile menu button-->
  <button type="button" @click="mobileOpen = !mobileOpen"
          class="inline-flex items-center justify-center p-2 rounded-md text-stone-700
                hover:text-stone-100 hover:bg-stone-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <!--
      Icon when menu is closed.
      Heroicon name: outline/menu
      Menu open: "hidden", Menu closed: "block"
    -->
    <svg :class="{'block' : !mobileOpen, 'hidden': mobileOpen}" class="block h-6 w-6"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
    <!--
      Icon when menu is open.
      Heroicon name: outline/x
      Menu open: "block", Menu closed: "hidden"
    -->
    <svg :class="{'block' : mobileOpen, 'hidden': !mobileOpen}" class="hidden h-6 w-6"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
{% endblock %}

{% block notifications %}
  <!-- Notifications -->
  <button
    class="border border-teal-800
          flex items-center justify-center p-1 rounded-full
          text-teal-800 hover:bg-stone-700 hover:text-stone-100
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-stone-800 focus:ring-stone-100"
    type="button">
    <span class="sr-only">Ver notificaciones</span>
    <!-- Hero icon name: outline/bell -->
    <svg class="h-8 w-8"
         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
    </svg>
  </button>
{% endblock %}

{% block profile %}
  <div class="ml-3 relative" x-data="{ settingsOpen: false }">
    <!-- profile -->
    <div>
      <button
        class="border border-teal-800
              flex items-center justify-center p-1 rounded-full
              text-teal-800 hover:bg-stone-700 hover:text-stone-100
              focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-stone-800 focus:ring-stone-100"
        type="button" id="user-menu-button" aria-expanded="false" aria-haspopup="true"
        @click="settingsOpen = !settingsOpen"
      >
        <span class="sr-only">Abrir menú usuario</span>
        <svg class="h-8 w-8 rounded-full"
             xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
          <path
            d="M176 448C167.3 448 160 455.3 160 464V512h32v-48C192 455.3 184.8 448 176 448zM272 448c-8.75 0-16 7.25-16 16s7.25 16 16 16s16-7.25 16-16S280.8 448 272 448zM164 172l8.205 24.62c1.215 3.645 6.375 3.645 7.59 0L188 172l24.62-8.203c3.646-1.219 3.646-6.375 0-7.594L188 148L179.8 123.4c-1.215-3.648-6.375-3.648-7.59 0L164 148L139.4 156.2c-3.646 1.219-3.646 6.375 0 7.594L164 172zM336.1 315.4C304 338.6 265.1 352 224 352s-80.03-13.43-112.1-36.59C46.55 340.2 0 403.3 0 477.3C0 496.5 15.52 512 34.66 512H128v-64c0-17.75 14.25-32 32-32h128c17.75 0 32 14.25 32 32v64h93.34C432.5 512 448 496.5 448 477.3C448 403.3 401.5 340.2 336.1 315.4zM64 224h13.5C102.3 280.5 158.4 320 224 320s121.8-39.5 146.5-96H384c8.75 0 16-7.25 16-16v-96C400 103.3 392.8 96 384 96h-13.5C345.8 39.5 289.6 0 224 0S102.3 39.5 77.5 96H64C55.25 96 48 103.3 48 112v96C48 216.8 55.25 224 64 224zM104 136C104 113.9 125.5 96 152 96h144c26.5 0 48 17.88 48 40V160c0 53-43 96-96 96h-48c-53 0-96-43-96-96V136z"/>
        </svg>
      </button>
    </div>
    <!-- Profile dropdown -->
    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white
                ring-1 ring-black ring-opacity-5 focus:outline-none z-50"
         style="display: none"
         x-show="settingsOpen"
         @focusout="settingsOpen=false"
         x-transition:enter="transition ease-out duration-100 transform"
         x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75 transform"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
         role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
         tabindex="1">
      <!-- Active: "bg-gray-100", Not Active: "" -->
      <a href="#" class="block px-4 py-2 text-sm text-stone-700 hover:bg-stone-700 hover:text-stone-100" role="menuitem"
         tabindex="2" id="user-menu-item-0">Your Profile</a>
      <a href="#" class="block px-4 py-2 text-sm text-stone-700 hover:bg-stone-700 hover:text-stone-100" role="menuitem"
         tabindex="3" id="user-menu-item-1">Settings</a>
      <a href="#" class="block px-4 py-2 text-sm text-stone-700 hover:bg-stone-700 hover:text-stone-100" role="menuitem"
         tabindex="4" id="user-menu-item-2">Sign out</a>
    </div>
  </div>
{% endblock %}
