{% block alpine %}
  <!-- Alpine Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.8.1/dist/cdn.min.js"></script>
  <!-- Alpine Core -->
  <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
{% endblock %}

{% block alpineSelect %}
  <script>
    function select(config) {
      return {
        data: config.data,
        emptyOptionsMessage: config.emptyOptionsMessage ?? 'No results match your search.',
        placeholder: config.placeholder ?? 'Select an option',
        name: config.name,
        value: config.value,
        focusedOptionIndex: null,
        open: false,
        options: {},
        search: '',

        closeListbox: function () {
          this.open = false
          this.focusedOptionIndex = null
          this.search = ''
        },

        focusNextOption: function () {
          if (this.focusedOptionIndex === null) return this.focusedOptionIndex = Object.keys(this.options).length - 1
          if (this.focusedOptionIndex + 1 >= Object.keys(this.options).length) return
          this.focusedOptionIndex++
          this.$refs.listbox.children[this.focusedOptionIndex].scrollIntoView({
            block: "center",
          })
        },

        focusPreviousOption: function () {
          if (this.focusedOptionIndex === null) return this.focusedOptionIndex = 0
          if (this.focusedOptionIndex <= 0) return
          this.focusedOptionIndex--
          this.$refs.listbox.children[this.focusedOptionIndex].scrollIntoView({
            block: "center",
          })
        },

        init: function () {
          this.options = this.data
          if (!(this.value in this.options)) this.value = null
          this.$watch('search', ((value) => {
            if (!this.open || !value) return this.options = this.data

            this.options = Object.keys(this.data)
              .filter((key) => this.data[key].toLowerCase().includes(value.toLowerCase()))
              .reduce((options, key) => {
                options[key] = this.data[key]
                return options
              }, {})
          }))
        },

        selectOption: function () {
          if (!this.open) return this.toggleListboxVisibility()

          this.value = Object.keys(this.options)[this.focusedOptionIndex]

          this.closeListbox()
        },

        toggleListboxVisibility: function () {
          if (this.open) return this.closeListbox()

          this.focusedOptionIndex = Object.keys(this.options).indexOf(this.value)

          if (this.focusedOptionIndex < 0) this.focusedOptionIndex = 0

          this.open = true

          this.$nextTick(() => {
            if (this.$refs.search) {
              this.$refs.search.focus()
            }

            this.$refs.listbox.children[this.focusedOptionIndex].scrollIntoView({
              block: "nearest"
            })
          })
        },
      }
    }
  </script>
{% endblock %}

{% block reader %}
  <script src="{{ site.url }}/assets/reader.js" async="true"></script>
{% endblock %}

{% block cookiebar %}
  <script type="text/javascript"
          src="/assets/cookie-bar/cookiebar-latest.min.js?customize=1&tracking=1&thirdparty=1&always=1&hideDetailsBtn=1&showPolicyLink=1&remember=99&privacyPage=%2Fprivacy"></script>
{% endblock %}

{% block tarteaucitron %}
  <script type="text/javascript" src="/assets/tarteaucitronjs/tarteaucitron.js"></script>

  <script type="text/javascript">
    tarteaucitron.init({
      "privacyUrl": "/privacy", /* Privacy policy url */

      "hashtag": "#tboons", /* Open the panel with this hashtag */
      "cookieName": "tboons", /* Cookie name */

      "orientation": "bottom", /* Banner position (top - bottom) */

      "groupServices": false, /* Group services by category */

      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */

      "closePopup": true, /* Show a close X on the banner */

      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

      "adblocker": false, /* Show a Warning if an adblocker is detected */

      "DenyAllCta": true, /* Show the deny all button */
      "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

      "handleBrowserDNTRequest": true, /* If Do Not Track == 1, disallow all */

      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */

      "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

      "readmoreLink": "", /* Change the default readmore link */

      "mandatory": true, /* Show a message about mandatory cookies */
    });
  </script>
{% endblock %}
