{% extends 'default' %}

{% block reader %}
  <main class="container flex flex-col mx-auto max-w-max min-h-screen">
    {% set episode_image = images.slide | replace({
      ':serie': episode.serie,
      ':season': '%02d' | format(episode.season),
      ':episode': '%02d' | format(episode.episode)
    }) %}
    {% for image in range(1, images.total) %}
      <img class="flex-none max-w-full max-h-[{{ images.height }}px] align-top lazyload"
           src="{{ images.loader }}"
           data-src="{{ site.images ~ episode_image | replace({':image': '%02d' | format(image)}) }}"
           alt="{{ page.serie }} temporada {{ page.season }} episodio {{ page.episode }} imagen {{ image }}"
           rel="nofollow" ondragstart="return false;" onselectstart="return false;" oncontextmenu="return false;"
      />
    {% endfor %}
  </main>
  <script>
    const scrollProgress = () => {
      return {
        init() {
          window.addEventListener('scroll', () => {
            let winScroll = document.body.scrollTop || document.documentElement.scrollTop
            let height = document.documentElement.scrollHeight - document.documentElement.clientHeight
            this.percent = Math.round((winScroll / height) * 100)
          })
        },
        circumference: 30 * 2 * Math.PI,
        percent: 0,
      }
    }
  </script>
{% endblock %}

{% block readerHorizontal %}
  <main id="reader" class="container flex overflow-x-scroll h-screen max-w-full"
        x-init=""
        @wheel.prevent="$el.scrollLeft += $event.deltaY"
  >
    {% set episode_image = images.slide | replace({
      ':serie': episode.serie,
      ':season': '%02d' | format(episode.season),
      ':episode': '%02d' | format(episode.episode)
    }) %}
    {% for image in range(1, images.total) %}
      <img class="flex-none max-w-max max-h-max my-3 align-top lazyload"
           src="{{ images.loader }}"
           data-src="{{ site.images ~ episode_image | replace({':image': '%02d' | format(image)}) }}"
           alt="{{ page.serie }} temporada {{ page.season }} episodio {{ page.episode }} imagen {{ image }}"
           rel="nofollow" ondragstart="return false;" onselectstart="return false;" oncontextmenu="return false;"
      />
    {% endfor %}
  </main>
  <script>
    const scrollProgress = () => {
      return {
        init() {
          const scrollContainer = document.getElementById("reader");
          scrollContainer.addEventListener('scroll', () => {
            let winScroll = scrollContainer.scrollLeft
            let height = scrollContainer.scrollWidth - scrollContainer.clientWidth
            this.percent = Math.round((winScroll / height) * 100)
          })
        },
        circumference: 30 * 2 * Math.PI,
        percent: 0,
      }
    }
  </script>

{% endblock %}

{% block notPublished %}
  {% set episode_image = images.icon | replace({
    ':slug_serie': episode.serie,
    ':episode': '%02d' | format(episode.episode),
    ':season': '%02d' | format(episode.season)
  }) %}

  <section class="container mx-auto flex px-5 py-8 items-center justify-center flex-col text-teal-700 ">
    <img class="lg:w-3/6 md:w-4/6 w-5/6 mb-8 object-cover object-center rounded-xl"
         src="{{ episode_image }}" alt="{{ episode.title }}">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-1 font-medium text-teal-900">{{ episode.title }}</h1>
      <h2 class="title-font sm:text-2xl text-xl mb-2 font-semibold text-teal-900">{{ episode.subtitle }}</h2>
      <p class="text-lg leading-relaxed">Episodio no disponible todavía</p>
      <p class="mb-4 text-lg font-semibold leading-relaxed">Próximamente
        el {{ episode_publish.current | date('d/m/Y') }}</p>
      <div class="flex justify-center">
        <a
          class="flex flex-nowrap space-x-2 items-center py-1 px-3 w-max rounded-full border-4 border-teal-800 font-semibold text-teal-800 bg-stone-50"
          href="{{ season.url }}">
          <svg class="h-8 w-8" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"/>
          </svg>
          <span>Ver temporada {{ season.number }}</span>
        </a>
      </div>
    </div>
  </section>
{% endblock %}

{% block progressBar %}
  <!-- Top bar -->
  <div x-data="scrollProgress" class="fixed inset-x-0 top-0 z-50">
    <div class="h-1 bg-teal-800" :style="`width: ${percent}%`"></div>
  </div>
{% endblock %}

{% block progressCircle %}
  <!-- Circle -->
  <div
    x-data="scrollProgress"
    class="fixed inline-flex items-center justify-center overflow-hidden rounded-full bottom-5 left-5"
  >
    <!-- Building a Progress Ring: https://css-tricks.com/building-progress-ring-quickly/ -->
    <svg class="w-20 h-20">
      <circle
        class="text-gray-300"
        stroke-width="5"
        stroke="currentColor"
        fill="transparent"
        r="30"
        cx="40"
        cy="40"
      />
      <circle
        class="text-blue-600"
        stroke-width="5"
        :stroke-dasharray="circumference"
        :stroke-dashoffset="circumference - percent / 100 * circumference"
        stroke-linecap="round"
        stroke="currentColor"
        fill="transparent"
        r="30"
        cx="40"
        cy="40"
      />
    </svg>
    <span class="absolute text-xl text-blue-700" x-text="`${percent}%`"></span>
  </div>
{% endblock %}

{% block buttonExit %}
  <a
    class="flex flex-nowrap items-center justify-center p-2 rounded-full text-stone-100 bg-teal-800/70 transition-transform transform hover:scale-110"
    href="{{ season.url }}">
    <span class="sr-only">Volver</span>
    <svg class="h-8 w-8" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"/>
    </svg>
  </a>
{% endblock %}

{% block buttonNav %}
  <nav class="grid grid-cols-2 items-center justify-items-center my-4">
    <div class="">
      {% if episode.next_episode and episode.next_episode.serie == episode.serie %}
        <a
          class="flex flex-nowrap items-center justify-start py-1 px-3 rounded-full border-4 border-teal-800 font-semibold text-teal-800 bg-stone-50/70 transition-transform transform hover:scale-110"
          href="{{ episode.next_episode.url }}">
          <svg class="text-teal-800 w-8 h-8" fill="currentColor" viewBox="0 0 256 512"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M137.4 406.6l-128-127.1C3.125 272.4 0 264.2 0 255.1s3.125-16.38 9.375-22.63l128-127.1c9.156-9.156 22.91-11.9 34.88-6.943S192 115.1 192 128v255.1c0 12.94-7.781 24.62-19.75 29.58S146.5 415.8 137.4 406.6z"/>
          </svg>
          <span class="text-left">Episodio anterior</span>
        </a>
      {% endif %}
    </div>
    <div class="">
      {% if episode.previous_episode and
        episode.previous_episode.serie == episode.serie and
        date(episode_publish.next) <= date() %}
        <a
          class="flex flex-nowrap items-center justify-end w-full py-1 px-3 rounded-full border-4 border-teal-800 font-semibold text-teal-800 bg-stone-50/70 transition-transform transform hover:scale-110"
          href="{{ episode.previous_episode.url }}">
          <span class="text-right">Siguiente episodio</span>
          <svg class="text-teal-800 w-8 h-8" fill="currentColor" viewBox="0 0 256 512"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M118.6 105.4l128 127.1C252.9 239.6 256 247.8 256 255.1s-3.125 16.38-9.375 22.63l-128 127.1c-9.156 9.156-22.91 11.9-34.88 6.943S64 396.9 64 383.1V128c0-12.94 7.781-24.62 19.75-29.58S109.5 96.23 118.6 105.4z"/>
          </svg>
        </a>
      {% endif %}
    </div>
  </nav>
{% endblock %}

{% block buttonSocial %}
  <!-- Social links -->
  <a
    class="flex justify-center items-center rounded-full bg-teal-800/60 p-2 justify-center transition-transform transform hover:scale-110"
    aria-hidden="true"
    rel="noopener noreferrer"
    target="twitter"
    href="https://twitter.com/intent/tweet?text={{ (serie.title ~ ' x T' ~ season.number ~ ': ' ~ epidosde.title) | url_encode }}&url={{ episode.url | url_encode }}&via={{ site.title }}&hashtags=WebComic,{{ serie.genres | join(',') | url_encode }}"
    title="Compartir por Twitter">
    <span class="sr-only">Twitter</span>
    <svg class="text-stone-100 w-8 h-8"
         fill="currentColor" viewBox="0 0 50 50"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
    </svg>
  </a>
{% endblock %}

{% block buttonLikes %}
  <a
    class="flex flex-nowrap items-center justify-center w-max py-1 px-3 rounded-full text-teal-800 bg-stone-50/60 border-4 border-teal-900 transition-transform transform hover:scale-110"
    rel="noopener noreferrer"
    href="I-like" title="Me gusta">
    <span class="sr-only">TMe gusta</span>
    <svg class="h-8 w-8"
         viewBox="0 0 20 20" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
            clip-rule="evenodd"/>
    </svg>
    <span class=" text-base font-semibold">999</span>
  </a>
{% endblock %}
