{% block marquee %}
  {% set serie_xtra = {
    'img': site.image.serie.marquee | replace({':serie': serie.slug}),
    'link': site.url ~ season.url
  } %}

  <div class="w-full flex flex-col">
    <img class="w-full h-60 sm:h-96" src="{{ serie_xtra.img }}" alt="">

    <div class="flex p-6 mx-auto -mt-16 lg:w-6xl sm:px-14 sm:mx-12 sm:rounded-t-md bg-white/75">

      <article class="flex-auto">
        <h1 class="text-3xl font-bold sm:text-3xl">{{ serie.title }}</h1>
        {% if serie.intro %}
          <p class="my-1 text-lg text-gray-900 italic">{{ serie.intro }}</p>
        {% endif %}
        <div class="flex flex-wrap pt-3 items-start gap-x-3 font-medium text-lg">
          {% for genre in serie.genres %}
            <span class="px-3 rounded-md text-teal-800 border-2 border-teal-700 capitalize">{{ genre }}</span>
          {% endfor %}
        </div>
      </article>

      <div class="flex-shrink-0 flex flex-col space-y-6 justify-center items-center font-semibold">
        <div class="rounded-xl py-2 px-8 bg-teal-900 text-teal-50">{{ season.announce|title }}</div>
        <div class="flex space-x-4">
          <a class="flex items-center justify-center w-12 h-12 rounded-full border-4 border-teal-900"
             rel="noopener noreferrer"
             target="twitter"
             href="https://twitter.com/intent/tweet?text={{ (serie.title ~ ' x T' ~ season.number) | url_encode }}&url={{ serie_xtra.link | url_encode }}&via=TBOsWeb&hashtags=WebComic,{{ serie.genres | join(',') | url_encode }}"
             title="Compartir por Twitter">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-800 w-6 h-6" fill="currentColor"
                 viewBox="0 0 50 50">
              <path
                d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
            </svg>
          </a>
          <a class="flex items-center justify-center w-12 h-12 rounded-full border-4 border-teal-900"
             rel="noopener noreferrer"
             href="subscribe" title="Suscribir">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-800 h-6 w-6" viewBox="0 0 20 20"
                 fill="currentColor">
              <path
                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
            </svg>
          </a>
          <a
            class="flex flex-nowrap items-center justify-center w-max h-12 px-3 rounded-full text-lg w-max border-4 border-teal-900"
            rel="noopener noreferrer"
            href="I-like" title="Me gusta">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-800 h-6 w-6" viewBox="0 0 20 20"
                 fill="currentColor">
              <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd"/>
            </svg>
            999
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block episodes %}
  {% set seasons = '' %}
  {% for path, season_episodes in data.episodes_byseasons | filter ((v,k) => k starts with (serie.slug ~ '/')) %}
    {# Load data season in main structure from first episode (all episodes have same data about season) #}
    {% set episode = season_episodes | first %}
    {% set season_data =
      {
        'number': episode.season,
        'slug': episode.slug,
        'url':  site.path.season | replace({':serie': episode.serie,':season': episode.season}),
        'publish': date(serie.seasons[episode.season].publish),
        'interval': serie.seasons[episode.season].interval,
        'announce': serie.seasons[episode.season].announce
      } %}
    {# Calculate how many episodes are already published VS total episodes in season. #}
    {% set episode_publish = season_data.publish %}
    {% set season_current = 0 %}
    {% set season_total = 0 %}
    {% for episode in season_episodes %}
      {% set season_total = season_total + 1 %}
      {% if episode_publish < date() %}
        {% set season_current = season_current + 1 %}
      {% endif %}
      {# Calculate publish date from date season plus time interval between episodes #}
      {% set episode_publish = episode_publish | date_modify(season_data.interval) %}
    {% endfor %}
    {# Add to current season data about episodes amount #}
    {% if season_data.slug == season.slug %}
      {% set season =
        {
          'number': season.number,
          'slug': season.slug,
          'url':  season.url,
          'publish': season.publish,
          'interval': season.interval,
          'announce': season.announce,
          'current': season_current,
          'total': season_total
        } %}
    {% endif %}
    {# Mount data season like string pattern to extract later in diferent seasons data #}
    {% set seasons = seasons ~
      season_data.number ~ '~' ~ season_data.slug ~ '`~'  ~ season_data.url ~ '~' ~
      (season_data.publish|date('U')) ~ '~' ~ season_data.interval ~ '~' ~ season_data.announce ~ '~' ~
      season_current ~ '~' ~ season_total ~
      (not loop.last ? '|' : '') %}
  {% endfor %}
  {# Create seasons data structure from data string patterns #}
  {% set seasons = seasons | split('|') | sort |
    map(line => {
      'number': line|split('~')[0],
      'slug': line|split('~')[1],
      'url': line|split('~')[2],
      'publish': line|split('~')[3],
      'interval': line|split('~')[4],
      'announce': line|split('~')[5],
      'current': line|split('~')[6],
      'total': line|split('~')[7]
    }) %}

  <div class="container px-5 mx-auto flex flex-col">
    <div class="flex justify-between items-center">
      <div class="flex items-center justify-center">
        <span class="text-lg font-semibold">
          Temporada {{ season.number }} ({{ season.current }}/{{ season.total }})
        </span>
        <div class="relative inline-block" x-data="{open: false}">
          {# Dropdown toggle button #}
          <button
            class="relative z-10 block p-1 m-1 text-gray-700 bg-white border border-transparent rounded-md dark:text-white focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:bg-gray-800 focus:outline-none"
            @click="open=!open"
          >
            <svg class="w-5 h-5 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor">
              <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"/>
            </svg>
          </button>

          {# Dropdown menu #}
          <div class="absolute right-0 z-20 w-48 py-2 mt-1 bg-white rounded-md shadow-xl dark:bg-gray-800"
               x-show="open" x-collapse>
            {% for season in seasons %}
              <a href="{{ site.url }}{{ season.url }}"
                 class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                Temporada {{ season.number }} ({{ season.current }}/{{ season.total }})</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {# Boton comprar sesion #}
      <a
        class="flex font-semibold justify-center text-sm items-center w-max px-4 py-1 rounded-full border-4 border-teal-500"
        href="/buy/session"
        title="Comprar sesion entera">
        Comprar sesion
      </a>

    </div>
    {% set episode_publish = season.publish %}
    {% for episode in episodes %}
      {% set episode_image = episode.images.icon ?? season.images.icon ?? site.image.episode.icon %}

      {% set episode_image = episode_image | replace({
        ':serie': episode.serie,
        ':season': '%02d' | format(episode.season),
        ':episode': '%02d' | format(episode.episode)
      }) %}
      {% set episode_is_published = date(episode_publish) < date() %}
      <div class="item group flex relative py-3 justify-center items-center border-b-2 last:border-b-0">
        <div class="flex-shrink-0 w-24 h-24 rounded-2xl overflow-hidden">
          <img class="w-full h-full object-center object-cover transition duration-500 group-hover:scale-125"
               src="{{ episode_image }}" alt="{{ episode.title }}">
        </div>
        <div class="content flex-grow m-6">
          <h3 class="font-medium title-font mb-1 text-xl font-semibold">{{ episode.title }}</h3>
          <p class="leading-relaxed font-semibold">{{ episode.subtitle }}</p>
        </div>
        {% if episode_is_published %}
          <div class="flex-shrink-0 flex w-max items-center justify-center  md:mx-5">
            <span class="rounded-3xl px-3 py-2  border-2 rounded-3xl">LIBRE</span>
            <img width="40" height="40"
                 src="https://png.pngtree.com/png-clipart/20201123/ourmid/pngtree-vector-coins-icon-dollar-gold-coin-png-image_2462733.jpg">
            <span class="font-bold text-2xl">99</span>
          </div>
          <div>
            <a
              href="{{ site.url }}{{ episode.url }}"><span
                aria-hidden="true" class="absolute inset-0"></span></a>
          </div>
        {% else %}
          <div class="flex-shrink-0 flex w-max items-center justify-center md:mx-5">
            <span class="font-bold text-md">{{ episode_publish | date('d/m/Y') }}</span>
          </div>
          <div class="absolute bg-white/30 inset-0">
          </div>
        {% endif %}
      </div>
      {% set episode_publish = episode_publish | date_modify(season.interval) %}
    {% endfor %}
  </div>
{% endblock %}


{% block resume %}
  {% set authors_img = serie.authors ? serie.authors|map(author => site.image.author | replace({':slug': author})) : [] %}

  <div class="flex flex-col space-y-3 container h-max relative px-7 py-5 mx-auto rounded-xl bg-stone-800 text-stone-50"
       x-data="{ author: false }">
    <a class="flex justify-between items-center w-52 px-6 py-3 mb-4 rounded-full border-4 border-teal-500"
       href="{{ site.url }}{{ episodes | first.url }}"
       title="Comenzar a leer">
      <span class="mr-2 text-center font-semibold">Iniciar lectura</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-500 w-5 h-5" viewBox="0 0 448 512" fill="currentColor">
        <path
          d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"/>
      </svg>
    </a>
    <div class="" x-show="!author" x-collapse>
      <div class="leading-relaxed text-base mb-4">
        {{ serie.content | raw }}
      </div>
      <div class="w-32 h-px bg-stone-500 rounded my-2 mx-auto"></div>
    </div>
    {% for ind, author in authors %}
      <div x-data="{ open: false }">
        <div class="relative flex items-center"
             :class="{ 'flex-col': open, 'flex-row': !open }"
             x-show="!author || open"
        >
          <button class="absolute right-0" @click="author=!author; open=!open;">
            <svg class="text-teal-500 w-8 h-8" x-show="open"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor">
              <path
                d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
            </svg>
            <svg class="text-teal-500 w-8 h-8" x-show="!open"
                 viewBox="0 0 512 512"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"/>
            </svg>
          </button>

          <div class="rounded-full overflow-hidden bg-white"
               :class="{ 'max-w-64 max-h-64': open, 'w-16 h-16 mr-4': !open }">
            <img class="w-full h-full" src="https://picsum.photos/200/200?{{ author_img[ind] }}"
                 alt="{{ author.name }}">
          </div>

          <div class="w-32 h-px bg-stone-500 rounded my-2" x-show="open"></div>

          <h2 class="font-semibold max-w-full"
              :class="{ 'text-lg': open, 'text-base': !open }">{{ author.name }}</h2>

          <div class="w-32 h-px bg-stone-500 rounded my-2" x-show="open"></div>

        </div>

        <div class="text-base" x-show="open" x-collapse>{{ author.content | raw }}</div>
      </div>
    {% endfor %}
  </div>

{% endblock %}


{% block authors %}
  {% set authors = serie.authors ? serie.authors|map(author => data.authors_byslug[author] | first) : [] %}
  {% set authors_img = serie.authors ? serie.authors|map(author => site.image.author | replace({':slug': author})) : [] %}

  <section>
    <div>
      {% for author in authors %}
        <a href="{{ author.url }}">{{ author.name }}</a>
        {% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
