{% block presentation %}
  <header class="">
    <h1 class="mt-6 mb-2 font-bold text-xl text-stone-600 text-center">
      Tus series en <span class="font-extrabold text-2xl text-teal-700">{{ site.title }}</span>
    </h1>
    <p class="my-1 text-sm text-center">Todas las series exclusivas de {{ site.title }} por géneros</p>
  </header>
{% endblock %}

{% block navGenres %}
  <nav
    class="flex items-center flex-wrap relative -mx-4 my-8 space-x-2 justify-center font-semibold text-stone-700">
    <div class="-z-50 absolute w-full left-0 bottom-[1px] border-b-2 border-stone-300"></div>
    <a
      class="flex items-center flex-shrink-0 px-5 pt-4 pb-1 border-b-4
        {{ genre_select == 'all'
      ? "border-teal-700  text-stone-900 from-teal-100 bg-gradient-to-t"
      : "border-stone-300 text-stone-600 from-stone-200 hover:bg-gradient-to-t" }}
      "
      rel="noopener noreferrer" href="{{ site.url }}{{ site.path.genre_all }}"
    >Todos</a>
    {% for genre in data.series_genres | keys | sort %}
      <a class="flex items-center capitalize flex-shrink-0 px-5 pt-4 pb-1 border-b-4
        {{ genre_select and genre_select == genre
      ? "border-teal-700  text-stone-900 from-teal-100 bg-gradient-to-t"
      : "border-stone-300 text-stone-600 from-stone-200 hover:bg-gradient-to-t" }}
        "
         rel="noopener noreferrer" href="{{ site.url }}{{ site.path.genre | replace({':genre': genre|url_encode}) }}"
      >
        {{ genre }}
        <!-- [{{ data.series_genres[genre]|length }}] -->
      </a>
    {% endfor %}

  </nav>
{% endblock %}

{% block cardSerie %}
  <div class="flex flex-col min-w-min group relative">
    <div
      class="flex-none h-72 aspect-w-1 aspect-h-1 aspect-none overflow-hidden rounded-3xl bg-gray-300 group-hover:opacity-90">
      <img class="w-full h-full object-center object-cover transition duration-500 group-hover:scale-125"
           src="{{ site.image.serie.vertical | replace({':serie': serie.slug}) }}"
           alt="{{ serie.title }}">
    </div>

    <div class="flex-auto flex flex-col p-1">
      <div class="flex-auto flex flex-col justify-start">
        <h3 class="min-w-full max-w-min text-lg font-bold text-teal-800">
          {{ serie.title }}
        </h3>
        <div class="flex flex-wrap gap-2 my-1">
          <div class="flex-auto whitespace-nowrap font-semibold text-base text-stone-800">
            {{ episodesBySerie[serie.slug] | length }} episodios
          </div>
          <div class="flex-none flex items-center font-medium text-base text-teal-800">
            <svg class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="ml-2">999</span>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap flex-auto items-end gap-x-3 font-medium text-base lg:text-md">
        {% for genre in serie.genres %}
          <span class="px-3 rounded-md text-teal-800 border-2 border-teal-700 capitalize">{{ genre }}</span>
        {% endfor %}
      </div>

      <div>
        {% set serie_publish = date(serie.seasons|first.publish) %}
        {% if serie_publish <= date() and serie_publish > date()|date_modify(site.novelty.serie) %}
          <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
        {% endif %}
        <a class="absolute inset-0"
           href="{{ site.url }}{{ site.path.serie | replace({':serie': serie.slug|url_encode}) }}"
           title="{{ serie.title }}"><span aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
{% endblock %}
