{% block carrousel %}
  {% set numSlides = numItems %}
  {% set slide = 0 %}
  <div class="relative max-h-max" x-data="{ activeSlide: 1, maxSlides: {{ numSlides }} }">
    {% for slide in range(1, numSlides) %}
      <div class="relative absolute inset-0 w-full overflow-hidden"
           x-data="{ slide: {{ slide }} }"
           x-show="activeSlide === slide"
           x-transition:enter="transition ease-out duration-300"
           x-transition:enter-start="opacity-0"
           x-transition:enter-end="opacity-100"
      >
        <img class="hidden sm:block object-center object-fill w-full max-h-full scale-x-110 -left-5 -z-10"
             src="//picsum.photos/1370/500?{{ serie }}"
             alt="Escenario {{ serie }}"
             x-show="activeSlide === slide"
             x-transition:enter="transition delay-100 ease-out duration-500"
             x-transition:enter-start="translate-x-12"
        >

        <div class="hidden sm:flex absolute inset-0">
          <div class="flex-none w-2/5 flex flex-col justify-center items-center">
            <img class="w-4/5 mx-5 object-contain"
                 src="//picsum.photos/500/320?{{ slide }}2"
                 alt="Logo {{ slide }}"
            >
            <div
              class="flex-shrink min-h-max flex flex-col max-w-full justify-center items-center px-3 py-1 my-1 bg-gray-700/60 rounded-2xl">
              <span
                class="text-white text-center text-base font-bold">{{ random(site.design.topics) }} - {{ random(site.design.topics) }}</span>
              <span
                class="text-white text-center text-xl font-bold">The {{ random(site.design.topics) }} that {{ random(site.design.topics) }} {{ random(site.design.topics) }} {{ slide }}</span>
            </div>
          </div>
          <div class="flex-auto w-3/5 ml-3 flex justify-end items-center">
            <img class="object-contain max-h-full"
                 src="//picsum.photos/500/400?{{ slide }}3"
                 alt="Imagen {{ slice }}"
                 x-show="activeSlide === slide"
                 x-transition:enter="transition delay-100 ease-out duration-700"
                 x-transition:enter-start="translate-x-14"
            >
          </div>
        </div>
        <img class="block sm:hidden object-center object-fill w-full max-h-full"
             src="//picsum.photos/640/700?{{ serie }}"
             alt="Escenario {{ serie }}"
             x-show="activeSlide === slide">

        <a href="#{{ serie }}" title="Enlace a {{ serie }}"><span
            class="absolute inset-0" aria-hidden="true"></span></a>
      </div>
    {% endfor %}

    <!-- Prev/Next Arrows -->
    <button
      class="absolute top-1/3 left-0 z-50 left-0 w-12 h-12 ml-3 text-teal-500 font-bold bg-teal-100 rounded-full hover:text-orange-500 hover:shadow-lg"
      x-on:click="activeSlide = activeSlide === 1 ? maxSlides : activeSlide - 1">
      &#8592;
    </button>
    <div class="absolute top-1/3 right-1/2 w-12 text-5xl text-center text-teal-300 font-bold">
      <span x-text="activeSlide"></span>/<span x-text="maxSlides"></span>
    </div>
    <button
      class="absolute top-1/3 right-0 w-12 h-12 mr-3 text-teal-500 font-bold bg-teal-100 rounded-full hover:text-orange-500 hover:shadow-lg"
      x-on:click="activeSlide = activeSlide === maxSlides ? 1 : activeSlide + 1">
      &#8594;
    </button>

    <!-- Buttons -->
    <div class="absolute left-1/3 bottom-1 w-max flex items-center justify-center space-x-4">
      <template x-for="slide in {{ numSlides }}">
        <button
          class="flex-1 w-4 h-2 m-2 rounded-full transition-colors duration-200 ease-out hover:bg-teal-600 hover:shadow-lg"
          :class="{
              'bg-teal-600': activeSlide === slide,
              'bg-stone-100': activeSlide !== slide
            }" x-on:click="activeSlide = slide"></button>
      </template>
    </div>

  </div>
{% endblock %}
