{% block debug_page %}
  <div class="w-full overflow-scroll font-mono text-sm">
    <summary>
      Published: {{ page.date }} |
      File: {{ page.filename }} |
      Date: {{ page.calculated_date }} |
      Permalink: {{ page.permalink }} |
      URL: {{ page.url }} |
      Path: {{ page.relative_pathname }}
    </summary>
    <pre>{{ _context|keys|join( " | ") }}</pre>
    <h3>site</h3>
    <pre>{{ site | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    <h3>page</h3>
    <pre>{{ page | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
  </div>
{% endblock %}
