{% block episodes %}
  <div class="container px-5 mx-auto flex flex-col">
    <div class="flex justify-between items-center">

      <div class="flex items-center justify-center">
        <span class="text-lg font-semibold">Sesion 1 (99/99)</span>
        <div class="relative inline-block" x-data="{open: false}">
          <!-- Dropdown toggle button -->
          <button
            class="relative z-10 block p-1 m-1 text-gray-700 bg-white border border-transparent rounded-md dark:text-white focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:bg-gray-800 focus:outline-none"
            @click="open=!open"
          >
            <svg class="w-5 h-5 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor">
              <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"/>
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div class="absolute right-0 z-20 w-48 py-2 mt-1 bg-white rounded-md shadow-xl dark:bg-gray-800" x-show="open" x-collapse>
            <a href="#"
               class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              Temporada 1 (99/99)</a>
            <a href="#"
               class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              Temporada 2 (99/99)</a>
            <a href="#"
               class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              Temporada 3 (99/99)</a>
          </div>
        </div>
      </div>

      <a
        class="flex font-semibold justify-center text-sm items-center w-max px-4 py-1 rounded-full border-4 border-amber-500"
        href="/buy/session"
        title="Comprar sesion entera">
        Comprar sesion
      </a>

    </div>
    {% for item in range(1, numItems) %}
      <div class="item group flex relative py-3 justify-center items-center border-b-2 last:border-b-0">
        <div class="flex-shrink-0 w-24 h-24 rounded-2xl overflow-hidden">
          <img class="w-full h-full object-center object-cover transition duration-500 hover:scale-125"
               src="https://picsum.photos/200/200?{{ item }}" alt="Titulo Episodio {{ item }}">
        </div>
        <div class="content flex-grow m-6">
          <h3 class="font-medium title-font mb-1 text-xl font-semibold">The Catalyzer</h3>
          <p class="leading-relaxed font-semibold">Episodio {{ item }}</p>
        </div>
        <div class="flex-shrink-0 flex w-max items-center justify-center">
          <span class="rounded-3xl px-3 py-2  border-2 rounded-3xl">LIBRE</span>
        </div>
        <div class="flex-shrink-0 flex w-max items-center justify-center">
          <img width="40" height="40"
               src="https://png.pngtree.com/png-clipart/20201123/ourmid/pngtree-vector-coins-icon-dollar-gold-coin-png-image_2462733.jpg">
          <span class="font-bold text-2xl">99</span>
        </div>
        <div class="flex-shrink-0 flex w-max items-center justify-center">
          <span class="font-bold text-sm">28/04/2022</span>
        </div>
        <div>
          <a href="#{{ item }}" alt="a sd as sa"><span aria-hidden="true" class="absolute inset-0"></span></a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
