{% block logo %}
  <a href="{{ site.url }}/">
    <img class="block lg:hidden h-8 w-auto"
         src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
         alt="{{ site.title }}">
    <img class="hidden lg:block h-8 w-auto"
         src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
         alt="{{ site.title }}">
  </a>
{% endblock %}

{% block options %}
  <a class="bg-gray-900 text-white px-3 py-2 rounded-md font-medium text-base"
     href="{{ site.url }}/{{ site.path.genre }}"
     aria-current="page">Current option</a>

  <a
    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium text-base"
    href="#">Recompensas</a>
{% endblock %}

{% block options_design %}
  {% for url,txt in site.design.menu %}
    <a class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium text-base"
       href="{{ url }}">{{ txt }}</a>
  {% endfor %}
{% endblock %}

{% block mobile_options_button %}
  <!-- Mobile menu button-->
  <button type="button" @click="mobileOpen = !mobileOpen"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <!--
      Icon when menu is closed.
      Heroicon name: outline/menu
      Menu open: "hidden", Menu closed: "block"
    -->
    <svg :class="{'block' : !mobileOpen, 'hidden': mobileOpen}" class="block h-6 w-6"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
    <!--
      Icon when menu is open.
      Heroicon name: outline/x
      Menu open: "block", Menu closed: "hidden"
    -->
    <svg :class="{'block' : mobileOpen, 'hidden': !mobileOpen}" class="hidden h-6 w-6"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
{% endblock %}

{% block notifications %}
  <!-- Notifications -->
  <button
    class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
    type="button">
    <span class="sr-only">View notifications</span>
    <!-- Hero icon name: outline/bell -->
    <svg class="h-6 w-6"
         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
    </svg>
  </button>
{% endblock %}

{% block profile %}
  <div class="ml-3 relative" @click="settingsOpen = !settingsOpen">
    <!-- profile -->
    <div>
      <button
        class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
        type="button" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
        <span class="sr-only">Open user menu</span>
        <img class="h-8 w-8 rounded-full"
             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
             alt="">
      </button>
    </div>
    <!-- Profile dropdown -->
    <div
      class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      x-show="settingsOpen"
      @focusout="settingsOpen=false"
      x-transition:enter="transition ease-out duration-100 transform"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-75 transform"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
      tabindex="-1">
      <!-- Active: "bg-gray-100", Not Active: "" -->
      <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
         tabindex="-1" id="user-menu-item-0">Your Profile</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
         tabindex="-1" id="user-menu-item-1">Settings</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
         tabindex="-1" id="user-menu-item-2">Sign out</a>
    </div>
  </div>
{% endblock %}
