{% block alpine %}
  <!-- Alpine Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.8.1/dist/cdn.min.js"></script>
  <!-- Alpine Core -->
  <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
{% endblock %}

{% block reader %}
  <script>
    if ("loading" in HTMLImageElement.prototype) {
      console.log("El navegador soporta `lazy-loading`...");
    } else {
      console.log("`lazy-loading` no soportado...");
    }
  </script>
  <script src="{{ site.url }}/assets/reader.js" async="true"></script>
{% endblock %}

{% block cookiebar %}
  <script type="text/javascript"
          src="/assets/cookie-bar/cookiebar-latest.min.js?customize=1&tracking=1&thirdparty=1&always=1&hideDetailsBtn=1&showPolicyLink=1&remember=99&privacyPage=%2Fprivacy"></script>
{% endblock %}

{% block tarteaucitron %}
  <script type="text/javascript" src="/assets/tarteaucitronjs/tarteaucitron.js"></script>

  <script type="text/javascript">
    tarteaucitron.init({
      "privacyUrl": "/privacy", /* Privacy policy url */

      "hashtag": "#tboons", /* Open the panel with this hashtag */
      "cookieName": "tboons", /* Cookie name */

      "orientation": "bottom", /* Banner position (top - bottom) */

      "groupServices": false, /* Group services by category */

      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */

      "closePopup": true, /* Show a close X on the banner */

      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

      "adblocker": false, /* Show a Warning if an adblocker is detected */

      "DenyAllCta": true, /* Show the deny all button */
      "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

      "handleBrowserDNTRequest": true, /* If Do Not Track == 1, disallow all */

      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */

      "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

      "readmoreLink": "", /* Change the default readmore link */

      "mandatory": true, /* Show a message about mandatory cookies */
    });
  </script>
{% endblock %}
