{% block latest %}

  <div class="flex flex-row flex-wrap justify-center items-stretch gap-1 md:gap-5">
    {% for item in range(1, numItems) %}
      <div class="flex-auto md:basis-5/12 md:flex-none flex flex-row min-w-min group relative gap-3">

        <div class="flex-none h-48 w-64 md:h-40 md:w-52 overflow-hidden rounded-3xl bg-gray-300 group-hover:opacity-90">
          <img class="w-full h-full object-center object-cover"
               src="https://picsum.photos/600/600" alt="Comic numero 1">
        </div>

        <div class="flex-auto flex flex-col p-1">

          <div class="flex-auto flex flex-col justify-start">
            <h3 class="min-w-full max-w-min text-lg font-bold text-red-700">
              The {{ random(site.design.topics) }} will {{ random(site.design.topics) }}
            </h3>
            <div class="flex gap-2 my-1">
              <div class="flex-none whitespace-nowrap text-sm text-gray-500">99 episodios</div>
              <div class="flex-auto flex items-center font-medium text-sm text-gray-900">
                <svg class="h-5 w-5"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                        clip-rule="evenodd"/>
                </svg>
                <span>999</span>
              </div>
            </div>
          </div>

          <div class="flex-auto flex flex-wrap items-end gap-x-3 p-2 font-medium text-md">
            <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
            <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
          </div>

          <div>
            <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
            <a href="#" alt="a sd as sa"><span aria-hidden="true" class="absolute inset-0"></span></a>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
