{% block marquee %}

  <div class="w-full flex flex-col w-7xl mx-auto bg-gray-200">

    <img class="w-full h-60 sm:h-96" src="https://picsum.photos/1200/400" alt="">

    <div
      class="flex p-6 mx-auto -mt-16 lg:w-6xl sm:px-14 sm:mx-12 sm:rounded-t-md bg-white/75">

      <article class="flex-auto">
        <h1 class="text-3xl font-bold sm:text-3xl">The Best Activewear from the Nordstrom Anniversary</h1>
        <p class="my-1 text-lg text-gray-900 italic">Entradilla</p>
        <div class="flex flex-wrap pt-3 items-start gap-x-3 font-medium text-md">
          <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
          <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
        </div>
      </article>

      <div class="flex-shrink-0 flex flex-col space-y-6 justify-center items-center font-semibold">
        <div class="rounded-full py-2 px-4 border-4 bg-amber-400 border-amber-500">Cada Domingo</div>
        <div class="flex space-x-4">
          <a class="flex items-center justify-center w-12 h-12 rounded-full border-4 border-black"
             rel="noopener noreferrer"
             href="https://twitter.com/intent/tweet?text=titulo&url=https%3A%2F%2Ftbosweb%2Fruta&via=tbosweb&hashtags=webcomic,fantasia"
             title="Compartir por Twitter">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 50 50" class="w-6 h-6">
              <path
                d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
            </svg>
          </a>
          <a class="flex items-center justify-center w-12 h-12 rounded-full border-4 border-black"
             rel="noopener noreferrer"
             href="subscribe" title="Suscribir">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
            </svg>
          </a>
          <a
            class="flex flex-nowrap items-center justify-center w-max h-12 px-3   rounded-full text-lg w-max border-4 border-black"
            rel="noopener noreferrer"
            href="I-like" title="Me gusta">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd"/>
            </svg>
            999
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
