{% block popular %}
  <div
    class="grid grid-cols-1 gap-1 place-items-stretch sm:grid-cols-2 sm:grid-rows-3 md:gap-5 lg:grid-cols-3 lg:grid-rows-2">

    <!-- MAIN CONTENT -->
    <div class="row-span-2 flex flex-col min-w-min rounded-3xl group relative bg-blue-200">
      <div class="flex-none overflow-hidden rounded-t-3xl bg-gray-300 group-hover:opacity-90">
        <img src="https://picsum.photos/600/600" alt="Comic numero 1"
             class="w-full h-full object-center object-cover">
      </div>

      <div class="flex-auto flex flex-col p-1">
        <div class="flex-auto flex flex-col justify-start">
          <h3 class="min-w-full max-w-min text-lg font-bold text-red-700">
            Tit {{ random(site.design.topics) }} das{{ random(site.design.topics) }} dasd {{ random(site.design.topics) }}
          </h3>
          <div class="flex flex-wrap mt-1">
            <div class="flex-auto whitespace-nowrap text-md text-gray-500">99 episodios</div>
            <div class="flex-none flex items-center px-2 font-medium text-lg text-gray-900">
              <svg class="h-8 w-8"
                   viewBox="0 0 20 20" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd"/>
              </svg>
              <span>999</span>
            </div>
          </div>
        </div>

        <div>
          <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
          <a href="#" alt="a sd as sa"><span aria-hidden="true" class="absolute inset-0"></span></a>
        </div>
      </div>

      <div class="flex-none flex flex-wrap gap-x-3 mx-2 mb-2 p-2 font-medium text-md">
        <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
        <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
      </div>
    </div>
    <!-- OTHER CONTENT -->
    {% for item in range(1, numItems) %}

    <div class="flex min-w-min group relative rounded-3xl bg-blue-200">
      <div class="flex-none basis-5/12 overflow-hidden rounded-l-3xl bg-gray-300 group-hover:opacity-90">
        <img src="https://picsum.photos/600/600?{{ item }}" alt="Comic numero 1"
             class="w-full h-full object-center object-cover">
      </div>

      <div class="flex-auto basis-7/12 flex flex-col p-1 mt-12">
        <div class="flex-auto flex flex-col justify-end">
          <h3 class="min-w-full max-w-min text-lg font-bold text-red-700">
            Tit {{ random(site.design.topics) }} das {{ random(site.design.topics) }} das {{ random(site.design.topics) }}
          </h3>

          <div class="flex flex-wrap">
            <div class="flex-auto whitespace-nowrap text-md text-gray-500">99 episodios</div>
            <div class="flex-none flex items-center ml-2 font-medium text-lg text-gray-900 absolute top-2 right-3">
              <svg class="h-8 w-8"
                   viewBox="0 0 20 20" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd"/>
              </svg>
              <span>999</span>
            </div>
          </div>
        </div>

        <div class="flex-auto flex flex-wrap items-end gap-x-3 p-2 font-medium text-md">
          <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
          <span class="px-2 rounded-sm text-green-800 border border-green-700">{{ random(site.design.topics) }}</span>
        </div>

        <div>
          <span class="absolute top-3 left-3 py-1 px-2 font-medium text-sm bg-yellow-300 rounded-full">New!</span>
          <a href="#" alt="a sd as sa"><span aria-hidden="true" class="absolute inset-0"></span></a>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
