{% block resume %}

  <div class="flex flex-col space-y-3 container h-max relative px-7 py-5 mx-auto bg-amber-200"
       x-data="{ author: false }">
    <a class="flex justify-between items-center w-52 px-6 py-2 mb-4 rounded-full border-4 border-amber-500"
       href="/serie/1111/seasson/22222"
       title="Comenzar a leer el capitulo">
      <span class="mr-2 text-center font-semibold">Iniciar lectura</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 448 512">
        <path
          d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"/>
      </svg>
    </a>
    <div class="" x-show="!author" x-collapse>
      <p class="leading-relaxed text-base mb-4">
        Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi
        umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub
        farm-to-table lumbersexual salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar
        sartorial, disrupt fashion axe normcore meh butcher.
      </p>
      <a class="text-indigo-500 inline-flex items-center">Learn More
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <div class="w-32 h-px bg-indigo-500 rounded my-2 mx-auto"></div>
    </div>
    {% for item in range(1, numItems) %}
      <div x-data="{ open: false }">
        <div class="relative flex items-center"
             :class="{ 'flex-col': open, 'flex-row': !open }"
             x-show="!author || open"
        >
          <button class="absolute right-0" @click="author=!author; open=!open;">
            <svg class="w-8 h-8" x-show="open"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
            </svg>
            <svg class="w-8 h-8" x-show="!open"
                 viewBox="0 0 512 512"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"/>
            </svg>
          </button>

          <div class="rounded-full overflow-hidden bg-gray-300"
               :class="{ 'max-w-64 max-h-64': open, 'w-16 h-16 mr-4': !open }">
            <img class="w-full h-full" src="https://picsum.photos/200/200" alt="Nombre de autor">
          </div>

          <div class="w-32 h-px bg-indigo-500 rounded my-2" x-show="open"></div>

          <h2 class="font-semibold text-gray-900 max-w-full" :class="{ 'text-lg': open, 'text-base': !open }">Phoebe
            Caulfield</h2>

          <div class="w-32 h-px bg-indigo-500 rounded my-2" x-show="open"></div>

        </div>
        <p class="text-base" x-show="open" x-collapse>
          Raclette enamel pin sartorial venmo tbh hot
          chicken knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot
          chicken gentrify enamel pin sartorial venmo tbh hot
          chicken portland.
          Raclette enamel pin sartorial venmo tbh hot
          chicken knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot
          chicken gentrify enamel pin sartorial venmo tbh hot
          chicken portland.
          Raclette enamel pin sartorial venmo tbh hot
          chicken knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot
          chicken gentrify enamel pin sartorial venmo tbh hot
          chicken portland.
        </p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
