{% extends 'default' %}

{% use 'debug' %}

{% block content_wrapper %}
  <article>
    <h1>Autor</h1>
    <header><h2>{{ page.name }}</h2></header>
    <article><p>{{ page.desc }}</p></article>
    <article>{{ page.blocks.content|raw }}</article>
  </article>
{% endblock %}
