{% extends 'default' %}

{% block content_wrapper %}
  <header>
    <ul>
      <li><a href="{{ site.url }}/{{ site.path.serie }}/{{ page.serie }}">Serie</a></li>
    </ul>
  </header>
  <article>
    <h1>Episodio</h1>
    <header>
      <h2>{{ page.title }}</h2>
      {% if page.subtitle %}
        <h3>{{ page.subtitle }}</h3>
      {% endif %}
    </header>
    <section>
      {% for i in range(1, page.images) %}
        <div>
          <img
            data-src="{{ site.images }}/serie-{{ page.serie }}/{{ "%02dx%02d"|format(page.season, page.episode) }}/{{ page.serie }}-t{{ page.season }}ep{{ page.episode }}-{{ i }}.jpg"
            class="lazyload" src="{{ site.url }}/assets/img/loading.gif"
            alt="{{ page.serie }} {{ page.season }} {{ page.episode }} {{ i }}"
          />
        </div>
      {% endfor %}
    </section>
    <footer><p>Published: {{ page.date|date('F j, Y') }}</p>
    </footer>
  </article>
{% endblock content_wrapper %}

{% block javascript %}

{{ block('reader', 'javascript') }}

{% endblock %}
