{% extends 'default' %}
{# use 'debug' #}

{% set episode = page %}
{% set serie = data.series_byslug[episode.serie] | first %}
{% set season = {
  'number': page.season,
  'slug': page.byseason | first,
  'url': page['byseason_slug%_index_permalinks'][page.byseasons | first]
} | merge(serie.seasons[episode.season]) %}
{% set images = site.image.episode | merge(season.images ?? {}) | merge(episode.images ?? {}) %}

{% set episode_publish_current = null %}
{% set episode_publish_next = date(season.publish) %}
{% for ep in range(1, episode.episode) %}
  {% set episode_publish_current = episode_publish_next %}
  {% set episode_publish_next = episode_publish_current | date_modify(season.interval) %}
{% endfor %}
{% set episode_publish = {
  'current': episode_publish_current,
  'next': episode_publish_next
} %}

{% block title %}{{ episode.title }} &mdash; {{ serie.title }} | T. {{ season.number }}{% endblock %}

{% block header %}{% endblock %}

{% block content_wrapper %}
  {% if date(episode_publish.current) > date() %}
    <section>
      {{ block('notPublished', 'reader') }}
    </section>
  {% else %}
    {{ block('progressBar', 'reader') }}
    <section>
      {% if images.layout is defined and images.layout == 'horizontal' %}
        {{ block('readerHorizontal', 'reader') }}
      {% else %}
        {{ block('reader', 'reader') }}
      {% endif %}
      {{ block('buttonNav', 'reader') }}
    </section>
    <nav>
      <div class="fixed flex justify-center items-center space-x-3 top-3 left-3">
        {{ block('buttonExit', 'reader') }}
      </div>
      <div class="fixed flex justify-center items-center space-x-3 top-3 right-3">
        {{ block('buttonSocial', 'reader') }}
        {{ block('buttonLikes', 'reader') }}
      </div>
    </nav>
  {% endif %}
{% endblock %}

{% block javascript %}
{{ block('reader', 'javascript') }}
{% endblock %}
