{% extends 'default' %}
{# use 'debug' #}

{% set serie = page %}
{% set authors = serie.authors ? serie.authors|map(author => data.authors_byslug[author] | first) : [] %}
{% set serie_xtra = {
  'img': site.image.url ~ site.image.serie.marquee | replace({':serie': serie.slug}),
  'link': site.url ~ serie['byslug_slug%_index_permalinks'][serie.slug]
} %}

{% set authors_img = serie.authors ? serie.authors|map(author => site.image.author | replace({':slug': author})) : [] %}

{% block content_wrapper %}
  <div class="max-w-5xl mx-auto my-5 overflow-hidden bg-white rounded-lg shadow-md dark:bg-teal-900">

    <img class="object-cover max-w-full h-max"
         src="{{ serie_xtra.img }}"
         alt="{{ serie.title }}"
         title="{{ serie.intro }}">

    <div class="p-8">
      <div>
        <a href="{{ serie_xtra.link }}"
           class="block mt-2 text-4xl font-semibold text-stone-800 transition-colors duration-200 transform hover:text-stone-600 hover:underline dark:text-stone-50">
          {{ serie.title }}
        </a>
        <span class="text-lg font-medium text-teal-800 dark:text-teal-200">{{ serie.intro }}</span>
        <p class="my-2 text-2xl text-stone-800 dark:text-stone-200">{{ serie.blocks.content | raw }}</p>
      </div>

      <div class="my-4">
        <div class="flex flex-wrap items-center">
          {% for ind, author in authors %}
            <div
              class="relative min-w-max flex flex-nowrap space-x-4 items-center rounded-full border-2 border-teal-700 p-2 m-2 hover:bg-teal-50">
              <img class="object-cover h-12 rounded-full"
                   src="{{ site.image.url }}{{ authors_img[ind] }}"
                   alt="{{ author.name }}">
              <span class="font-semibold text-lg text-teal-800 dark:text-teal-200">{{ author.name }}</span>
              <a href="{{ author.url }}"><span aria-hidden="true" class="absolute inset-0"></span></a>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
{% endblock content_wrapper %}
