---
layout: default
title: "%page.genre%"

generator: series_genre_index

use: [series_genres]
---
{# use 'debug' #}

{% use 'series-list' %}

{% set logo = 'logo_b' %}

{% set genre_select = page.genre %}
{% set genres = data.series_genres | keys | sort | map(genre => {'title': genre, 'numSeries': data.series_genres[genre]|length}) %}
{% set series = page.genre_series %}
{% set episodesBySerie = data.episodes_byseries %}

{{ block('presentation') }}
{{ block('navGenres') }}
<section
  class="grid grid-cols-1 p-5 sm:p-0 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 place-items-stretch">
  {% for serie in series %}
    {{ block('cardSerie') }}
  {% endfor %}
</section>
