<!DOCTYPE html>
<html lang="es">
<head>
  <title>
    {% block title %}{{ page.title }}{% endblock %}
    &mdash; {{ site.title }}
    &mdash; {{ site.subtitle }}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="{{ site.url }}/assets/index.css?{{ "now"|date("YmdHis") }}" rel="stylesheet">
</head>

<body class="bg-stone-100">

{% block header %}
  <header class="max-w-7xl mx-auto">
    {{ include("header") }}
    {% block content_header '' %}
  </header>
{% endblock %}

<main class="max-w-6xl mx-auto">
  {% block content_wrapper %}{% block content '' %}{% endblock content_wrapper %}
</main>

{% block footer %}
  <footer class="max-w-7xl mx-auto px-4 my-8 divide-y">
    {{ include("footer") }}
  </footer>
{% endblock %}

{% block debug_page %}{% endblock %}

{{ block("cookiebar", "javascript") }}
{{ block("alpine", "javascript") }}

{% block javascript %}{% endblock %}

</body>
</html>
