---
layout: default
permalink: tebeo/%page.slug%

generator: episodes_byseason_index

use: [series_byslug, episodes_byseasons, authors_byslug]
---
{# use 'debug' #}

{% use 'season-data' %}

{% set serie = data.series_byslug[page.byseason_episodes|first.serie]|first %}
{% set episodes = page.byseason_episodes %}

{% set season = {'number': episodes|first.season, 'slug': episodes|first.slug} %}
{% set season = season  | merge({'url': site.path.season | replace({':serie': serie.slug,':season': season.number}) }) | merge(serie.seasons[season.number] ?? {}) %}

{% set authors = serie.authors ? serie.authors|map(author => data.authors_byslug[author] | first) : [] %}

{% block title %}{{ serie.title }} | Temporada {{ season.number }}{% endblock %}

{% block content %}

  <section class="w-full mx-auto bg-stone-200">{{ block('marquee') }}</section>

  <section class="max-w-6xl mx-auto flex flex-col flex-col-reverse md:flex-row md:flex-nowrap">
    <div class=" mt-4 md:w-4/6">{{ block('episodes') }}</div>
    <div class=" mt-4 md:w-2/6">{{ block('resume') }}</div>
  </section>

{% endblock %}

