---
layout: default
permalink: tebeo/%page.slug%

generator: series_byslug_index

use: [episodes_byseasons,authors_byslug]
---
{# use 'debug' #}

{% use 'season-data' %}

{% set serie = page.byslug_series|first %}
{% set season = {'number': '1', 'slug': serie.slug ~ '/t1' } %}
{% set episodes = data.episodes_byseasons[season.slug] %}

{% set season = season  | merge({'url': site.path.season | replace({':serie': serie.slug,':season': season.number}) }) | merge(serie.seasons[season.number] ?? {}) %}

{% set authors = serie.authors ? serie.authors|map(author => data.authors_byslug[author] | first) : [] %}


{% block title %}{{ serie.title }} | Temporada {{ season.number }}{% endblock %}

{% block content %}

  <section class="w-full mx-auto bg-stone-200">{{ block('marquee') }}</section>

  <section class="max-w-6xl mx-auto flex flex-col flex-col-reverse md:flex-row md:flex-nowrap">
    <div class=" mt-4 md:w-4/6">{{ block('episodes') }}</div>
    <div class=" mt-4 md:w-2/6">{{ block('resume') }}</div>
  </section>

{% endblock %}

