---
layout: default

title:  dad asd asd asd as...
subtitle: das dasd asd as dsa

serie: orci
season: 1
episode: 2
images: 44

date: 2005-04-21

---

{% block header %}{% endblock %}

{% block content_wrapper %}
  {{ block('progress', 'reader') }}
  <section class="">
    {{ block('readerHorizontal', 'reader') }}
  </section>
{% endblock %}


{% block footer %}{% endblock %}

{% block javascript %}

{{ block('reader', 'javascript') }}

{% endblock %}
