---
layout: default
title: Pruebas
---

{% use 'debug' %}

<section class="py-16">
  {% set numItems = 6 %}
  {{ block('carrousel', 'carrousel') }}
</section>

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">los más populares</h2>

  {% set numItems = 4 %}
  {{ block('popular', 'popular') }}
</section>

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">Los ultimos tebeos</h2>

  {% set numItems = 7 %}
  {{ block('latest', 'latest') }}
</section>

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">Para no perderse</h2>

  {% set numItems = 7 %}
  {{ block('notmissed', 'notmissed') }}

</section>
