---
layout: default
title: Pruebas
---

{% use 'debug' %}

<section class="">
  {{ block('marquee', 'marquee') }}
</section>
<section class="max-w-6xl mx-auto flex flex-col flex-col-reverse md:flex-row md:flex-nowrap">
  <div class=" mt-4 md:w-4/6">
    {% set numItems = 6 %}
    {{ block('episodes', 'episodes') }}
  </div>
  <div class=" mt-4 md:w-2/6">
    {% set numItems = 3 %}
    {{ block('resume', 'resume') }}
  </div>
</section>
