<!DOCTYPE html>
<html lang="es">
<head>
  <title>
    {% block title %}{{ page.title }}{% endblock %}
    &mdash; {{ site.title }}
    &mdash; {{ site.subtitle }}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="{{ site.url }}/assets/index.css?{{ "now"|date("YmdHis") }}" rel="stylesheet">
</head>
<body>

{% block header %}
  <header class="max-w-7xl mx-auto">
    {{ include("header") }}
  </header>
{% endblock %}

<main class="max-w-7xl mx-auto">
  {% block content_wrapper %}{% block content '' %}{% endblock content_wrapper %}
</main>

{% block footer %}
  <footer class="px-4 divide-y dark:bg-gray-800 dark:text-gray-100">
    {{ include("footer") }}
  </footer>
{% endblock %}

<div class="w-full overflow-scroll font-mono text-sm">
  {% block debug_page %}{% endblock %}
</div>

{% block javascript %}{% endblock %}

{{ block("cookiebar", "javascript") }}
{{ block("alpine", "javascript") }}

</body>
</html>
