{% use 'footer_elements' %}

<div
  class="w-full min-w-max flex flex-col justify-between py-10 mx-auto space-y-8 lg:flex-row lg:space-y-0 bg-stone-200">

  <div class="mx-auto w-max lg:w-1/3">
    {{ block('logo') }}
  </div>

  <div class="grid grid-cols-2 mx-auto w-max px-2 text-sm gap-x-3 gap-y-8 lg:w-2/3 sm:grid-cols-3">
    {{ block('menu') }}
    {{ block('social') }}
  </div>

</div>

<div class="py-6 text-sm text-center dark:text-stone-100">
  <span>© {{ "now"|date("Y") }} {{ site.title }}. Todos los derechos reservados.</span>
  <span>Powered by <a href="https://Oxkhar.com/">Oxkhar</a></span>
</div>
