{% use 'header_elements' %}

<nav class="bg-white w-full" x-data="{ mobileOpen: false }">

  <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {{ block("mobile_options_button", "header_elements") }}
      </div>

      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          {{ block(logo ?? 'logo') }}
        </div>
        <div class="hidden space-x-6 sm:flex sm:flex-wrap sm:ml-16">
          {{ block("options") }}
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        {{ block("notifications") }}
        {{ block("profile") }}
      </div>

    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="flex flex-col w-full px-2 pt-2 pb-3 space-y-1 sm:hidden" x-show="mobileOpen">
    {{ block("options") }}
  </div>

</nav>
