---
layout: default
title: Home
use: [series_features, episodes_byseries]
---
{# use 'debug' #}

{% use 'feature-carrousel' %}
{% use 'feature-popular' %}
{% use 'feature-latests' %}
{% use 'feature-essentials' %}

{% set carrousel = data.series_features.carrousel %}

{% set popular = data.series_features.popular %}

{% set latests = data.series_features.latest %}

{% set maxEssentials = 5 %}
{% set essentials = data.series_features.essential %}

{% set episodesBySerie = data.episodes_byseries %}

{% block content_header %}
<section class="py-0 ">
  {{ block('carrousel') }}
</section>
{% endblock %}

{% block content %}

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">los más populares</h2>
  {{ block('popular') }}
</section>

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">Los últimos tebeos</h2>
  {{ block('latests') }}
</section>

<section class="py-8">
  <h2 class="text-center p-3 text-3xl font-extrabold tracking-widest">Imprescindibles</h2>
  {{ block('essentials') }}
</section>
{% endblock %}

{% block javascript %}
{{ block('alpineSelect', 'javascript') }}
{{ block('reader', 'javascript') }}
{% endblock %}
